body{
    margin: 0%;
    padding: 0%;
}
.hdng{
    height: 200px;
    width: 100%;
    border: 1px solid black;

}
#imgcontainer{
    height: 199px;
    width: 20%;
    border: 1px solid black;
    float: left;
    

}
#imgcontainer > img{
    height: 199px;
    margin-left: 6%;
}


#contentcontainer{
    height: 199px;
    width: 79.6%;
    float: left;
    border: 1px solid black;
    background-color: pink;

}
.clg{
    text-align: center;
    margin-top: 8%;
    color: #ea077a;
}
.mid{
    height: 700px;
    width: 100%;
    border: 1px solid black;
    background-color: gray;
}
#menu{
    height: 699px;
    width: 20%;
    border: 1px solid black;
    float: left;
}
#content{
    height: 699px;
    width: 65%;
    border: 1px solid black;
    float: left;
}
#ad{
    height: 699px;
    width: 14.5%;
    border: 1px solid black;
    float:right;
}
.bottom{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    background-color:#636158 ;

}

